.page_container {
  display: flex;
  height: 100vh;
  position: relative;
}

.left_container {
  flex: 1;
  border-right: solid rgb(44, 44, 44) 0.5px;
  background-color: cadetblue;
}

.right_container {
  flex: 1;
  border-left: solid rgb(44, 44, 44) 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
