.container {
  width: 60%;
  height: 60%;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 10px;
  box-shadow: 0px 0px 20px 0px rgba(115, 115, 115, 0.75);
  align-items: center;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 0px;
  text-align: center;
  margin-bottom: 40px;
}

.heading_text {
  font-size: 1.8rem;
  font-weight: bold;
}

.subheading_text {
  color: var(--subtext);
}

.sign_up {
  width: 100%;
}

.sign_in {
  display: flex;
  gap: 6px;
}

.error_text {
  color: var(--error-text);
  line-height: 1;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
