.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.return {
  color: var(--link-text);
}

.title {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}
