@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff8ee;
  --foreground: #171717;
  --nav-size: 100px;
  --link-text: #131ddf;
  --subtext: #6d6d6d;
  --error-text: rgb(246, 51, 51);
  --doe-dark-blue: #003366;
  --doe-green: #80b34d;
  --doe-light-blue: #6699cc;
  --doe-orange: #ff9933;
}

/* TODO: add a dark mode (low low low priority) */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #fff8ee;
    --foreground: #171717;
    --nav-size: 100px;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.link_text {
  color: var(--link-text);
}
