@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff8ee;
  --foreground: #171717;
  --nav-size: 100px;
  --link-text: #131ddf;
  --subtext: #3d3d3d;
}

/* TODO: add a dark mode (low low low priority) */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #fff8ee;
    --foreground: #171717;
    --nav-size: 100px;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.link_text {
  color: var(--link-text);
}
