.course {
  height: 270px;
  width: 320px;
  border-radius: 100px;
  padding: 0;
  margin: 0;
  position: relative;
}

.course_media {
  width: 100%;
  height: 170px;
}

.course_content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.course_title {
  font-size: 1.2rem;
  font-weight: bold;
}

.course_desc {
  color: var(--subtext);
}
