.container {
  width: 600px;
  background-color: white;
  height: 600px;
  border-radius: 25px;
  position: relative;
  padding: 38px;
  padding-top: 24px;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.25);
}

.table_title {
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
}

.dataContainer {
  height: 450px;
  overflow-y: auto;
}

.data {
  margin-top: 8px;
  position: relative;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.row {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f6f6f6;
}

.rowData {
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
