.top_container {
  height: 700px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: none;
}

.header {
  background-color: #ace8dc;
  height: 500px;
  padding: 50px;
  padding-top: 60px;
  padding-bottom: 0;
}

.class_actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 180px;
}

.top_space {
  margin: 50px;
  height: 200px;
  margin-bottom: 0;
  margin-top: 0;
  border-bottom: solid 1px black;
}

.quick_info_container {
  position: absolute;
  left: 50%;
  top: 500px;
  width: 70%;
  transform: translate(-50%, -50%);
  height: 150px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.quick_info {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.bar_info {
  border-right: solid 1px black;
  flex-grow: 1;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last {
  border-right: none;
}

.class_title {
  font-size: 4rem;
  font-weight: bold;
  line-height: normal;
}

.class_desc {
  font-size: 1.5rem;
  line-height: normal;
  padding-top: 20px;
  color: var(--subtext);
  font-style: italic;
  max-width: 1200px;
}

.enroll_buttons_container {
  display: flex;
  gap: 20px;
}

.enroll_button {
  height: 60px;
  width: 200px;
  font-size: 1rem;
  border-radius: 100px;
}

.rating {
  display: flex;
  position: relative;
  gap: 8px;
  align-self: center;
}

.ratingNumber {
  font-weight: bold;
}

.star {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: rgb(247, 247, 58);
  -webkit-mask-image: url("/star.svg");
  mask-image: url("/star.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.starBack {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  -webkit-mask-image: url("/star.svg");
  mask-image: url("/star.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  left: -1px;
  top: 1px;
}

.bottom_container {
  padding: 50px;
  margin-left: 20px;
}
